NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=panchispadel
DB_USER=panchispadel
DB_PASSWORD=panchispadel_secret
DB_SYNCHRONIZE=true

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:8080

GOOGLE_APPLICATION_CREDENTIALS=src/config/firebase-service-account.json
